/* PLANNER SECTION */
* {
  --minutedivision: 5;
}
.planner {
  flex-basis: 60%;
  width: 100%;
  overflow: auto;
}

.planner .header {
  margin-bottom: 40px;
}

.planner h3 {
  margin: auto 10px;
}
.empty {
  margin: 0;
  width: 100%;
}

/* GRid */

.grid {
  border: 1px solid lightcoral;
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1rem 20fr;
  grid-template-rows: repeat(calc(24), 17px);
  grid-gap: 0ch;
}

.timeSection {
  border-bottom: 1px solid lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: span calc(60 / var(--minutedivision));
}
.timeSection:last-child {
  border-bottom: none;
}
.timeDivSection {
  grid-column: 2;
  grid-row: span 1;
  font-size: 11px;
  border: 1px solid lightblue;
}

.drop {
  grid-column: 3;
  grid-row: span 1;
  font-size: 11px;
  border: 1px solid lightblue;
}

.plannerTask {
  display:flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: span 1;
  font-size: 11px;
  border: 1px solid lightblue;
  text-align: center;
}